---
layout: page
permalink: /tags/
---

<h2>Blog by tags </h2>
<br>
<ul class="tag-cloud">
{% for tag in site.tags %}
  <li class="categorie-tag">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
    <a name="{{ tag_name | slugize }}"></a>
    <hr size=2>
    <table class="fixed-table-container">
     <tbody>
    {% for post in site.tags[tag_name] %}
    <tr class="tableArchive" style="background: transparent">
      <td style="width: 165px"><p>{{ post.date | date: "%B %-d, %Y" }}</p></td>
      <td><h5><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h5></td>
      <td></td>
    </tr>  
    {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}
</div>

<div><iframe id="uvindexwidget" src="http://www.sunsmart.com.au/uvalert/default.asp?locationid=60" width="170" height="300" frameborder="0" scrolling="no" style="padding:0; margin: 0px; overflow:hidden;" allowtransparency="true"></iframe></textarea> </div>
