<div>
<table class="table table-inverse center">
    <thead>
      <tr>
        <th scope="col"> MONTH</th>
        <th scope="col"> DISTANCE</th>
        <th scope="col"> FREQUENCY</th>
        <th scope="col"> TOTAL TIME</th>
        <th scope="col"> AVERAGE SPEED</th>
        <th scope="col"> CALORIES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> JAN</th>
        <td>223 km</td>
        <td>27 rides</td>
        <td>13 hours</td>
        <td>16.7 km/h</td>
        <td>43 donuts</td>
      </tr>
      <tr>
        <th scope="row"> FEB</th>
        <td>122 km</td>
        <td>10 rides</td>
        <td>7.2 hours</td>
        <td>17.1 km/h</td>
        <td>23 donuts</td>
      </tr>
      <tr>
        <th scope="row"> MAR</th>
        <td>633 km</td>
        <td>5 rides</td>
        <td>3.9 hours</td>
        <td>16.3 km/h</td>
        <td>13 donuts</td>
      </tr>
    </tbody>
  </table>
</div>